<section class="about ms-auto">
    <section class="aboutSection my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 aboutchildOne">
                    <h5>ABOUT THE DISEASE</h5>
                    <h2>CORONAVIRUS (COVID-19)</h2>
                    <h4>COVID-19 is a new illness that can affect your lungs and airways.<span> It's caused by a virus called coronavirus. It was discovered in December 2019 in Wuhan, Hubei, China.</span></h4>
                    <p class="py-2">Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death.</p>
                    <p class="py-2">Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.</p>
                
                </div>
                <div class="col-md-4  p-0 aboutchildTwo">
                    <div class="border border-1 py-3 px-3">
                        <h6 class=" m-0">What you need to know</h6>
                    </div>
                    <div class="border border-1 py-3 px-3 ">
                        <p class=" m-0">How coronavirus is spread <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                    <div class="border border-1 py-3 px-3 ">
                        <p class="m-0">Symptoms of coronavirus <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                    <div class="border border-1 py-3 px-3 ">
                        <p class=" m-0">How to protect yourself <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                    <div class="border border-1 py-3 px-3 ">
                        <p class=" m-0">Treatment of coronavirus <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                    <div class="border border-1 py-3 px-3 ">
                        <p class=" m-0">Myth-Busters of coronavirus <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                    
                    <div class="border border-1 py-3 px-3 ">
                        <p class=" m-0">Question & Answer <i class="fa-solid fa-arrow-right float-end"></i></p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="aboutsectionTwo py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center childOneTwo">
                    <h6>HOW CORONAVIRUS IS SPREAD</h6>
                    <h4>TRANSMISSION OF COVID-19</h4>
                    <p class="w-50 mx-auto">Because it's a new illness, we do not know exactly how coronavirus spreads from person to person. Similar viruses are spread in cough droplets.</p>
            
                </div>
                <div class="col-md-4 childTwoTwo">
                    <img class="img-fluid" src="../../assets/images/spread-a.png" alt="">
                    <div class="line"></div>
                    <div class="p-3">
                        <h6>Person-to-person spread as close contact with infected</h6>
                        <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
                    </div>
                </div>
                <div class="col-md-4 childTwoTwo">
                    <img class="img-fluid" src="../../assets/images/spread-b.png" alt="">
                    <div class="line"></div>
                    <div class="p-3">
                        <h6>Person-to-person spread as close contact with infected</h6>
                        <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
                    </div>
                </div>
                <div class="col-md-4 childTwoTwo">
                    <img class="img-fluid" src="../../assets/images/spread-c.png" alt="">
                    <div class="line"></div>
                    <div class="p-3">
                        <h6>Person-to-person spread as close contact with infected</h6>
                        <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
                    </div>
                </div>
            
            </div>
        </div>
    
    </section>
    <div class="question  mx-auto">
        <h6 class="btn btn-primary mb-5 rounded-pill text-center mb-0 py-2"><i class="fa-solid fa-circle-question me-2"></i> Have question about spreading?</h6>
    
    </div>
</section>