<section class="treatment ms-auto pt-5">
    <div class="treatmentSection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 p-5">
                    <h5>BE CAREFULL & STAY SAFE</h5>
                    <h2 class="mb-3">TREATMENT FOR CORONAVIRUS</h2>
                    <P><span>To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019.</span> However, those affected should receive care to relieve symptoms. People with serious illness should be hospitalized. Most patients recover thanks to supportive care.</P>
                    <p>Antibiotics do not help, as they do not work against viruses. Treatment aims to relieve the symptoms while your body fights the illness. You'll need to stay in isolation, away from other people, until you have recovered.</p>
                </div>
                <div class="col-md-6 p-5 childTwo">
                    <h6>Self Care</h6>
                    <p>If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:</p>
                    <p><i class="fa fa-arrow-right me-4"></i> Rest and sleep</p>
                    <p><i class="fa fa-arrow-right me-4"></i> Keep warm</p>
                    <p><i class="fa fa-arrow-right me-4"></i> Drink plenty of liquids</p>
                    <div class="d-flex">
                        <i class="fa fa-arrow-right me-4"></i>
                        <p class=""> Use a room humidifier or take a hot shower to help ease a sore throat and cough</p>
                    </div>
        
                    <h6>Medical Treatments</h6>
                    <p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your health provider of any recent travel or recent contact with travelers.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="treatmentSectionTwo">
        <div class="container-fluid">
            <div class="row my-5">
                <div class="col-md-12 text-center childOneTwo pb-4 mt-3">
                    <h6>DO’S & DON’TS</h6>
                    <h4>PROTECT YOURSELF</h4>
                    <p class="w-75 mx-auto">The best thing you can do now is plan for how you can adapt your daily routine. Take few steps to protect yourself as Clean your hands often, Avoid close contact, Cover coughs and sneezes, clean daily used surfaces etc. The best way to prevent illness is to avoid being exposed to this virus.</p>  
                </div>
                <div class="col-md-3 colm">
                    <div class="d-flex align-items-center dont my-4">
                        <p class="w-75">Avoid Close Contact</p>
                        <div class="position-relative">
                            <img class="img-fluid" src="../../assets/images/donts-a.png" alt="">
                            <i class="iconbox fa fa-x  rounded-circle p-2 position-absolute text-white end-50 top-0 translate-middle-y"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center dont my-4">
                        <p class="w-75">Don’t Touch Face</p>
                        <div class="position-relative">
                            <img class="img-fluid" src="../../assets/images/donts-b.png" alt="">
                            <i class="iconbox fa fa-x  rounded-circle p-2 position-absolute text-white end-50 top-0 translate-middle-y"></i>
                        </div>
                    </div>
                    <div class="d-flex align-items-center dont my-4">
                        <p class="w-75">Social Distancing</p>
                        <div class="position-relative">
                            <img class="img-fluid" src="../../assets/images/donts-c.png" alt="">
                            <i class="iconbox fa fa-x  rounded-circle p-2 position-absolute text-white end-50 top-0 translate-middle-y"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="../../assets/images/protect.png" alt="">
                </div>
                <div class="col-md-3 colm">
                    <div class="d-flex align-items-center dont my-4">
                        
                        <div class="position-relative ">
                            <img class="img-fluid" src="../../assets/images/dos-a.png" alt="">
                            <i class="iconbox2 fa-solid fa-check rounded-circle p-2 position-absolute text-white start-50 top-0 translate-middle-y"></i>
                        </div>
                        <p class="w-75 ps-3">Wash Your Hands</p>
                    </div>
                    <div class="d-flex align-items-center dont my-4">
                        
                        <div class="position-relative">
                            <img class="img-fluid" src="../../assets/images/dos-b.png" alt="">
                            <i class="iconbox2 fa-solid fa-check rounded-circle p-2 position-absolute text-white start-50 top-0 translate-middle-y"></i>
                        </div>
                        <p class="w-75 ps-3">Drink Much Water</p>
                    </div>
                    <div class="d-flex align-items-center dont my-4">
                        
                        <div class="position-relative">
                            <img class="img-fluid" src="../../assets/images/dos-c.png" alt="">
                            <i class="iconbox2 fa-solid fa-check rounded-circle p-2 position-absolute text-white start-50 top-0 translate-middle-y"></i>
                        </div>
                        <p class="w-75 ps-3">Use Face Mask</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>