<section class="symptoms ms-auto">
    <div class="symptomsectionTwo py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center childOneTwo pb-4">
                    <h6>WHAT ARE THE SYMPTOMS OF COVID-19?</h6>
                    <h4>SYMPTOMS OF CORONAVIRUS</h4>
                    <p class="w-75 mx-auto">The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure.</p>
            
                </div>
                <div class="col-md-4 childTwoTwo bg-white mt-5 shadow px-3">
                    <div class="px-2">
                        <div class="d-flex align-items-center justify-content-between ">
                            <span>Fever</span>
                            <img class="img-fluid rounded-circle translate-middle-y " src="../../assets/images/symptom-a.png" alt="">
                        </div>
                        <div class="line"></div>
                        <h6>High Fever – <span>this means you feel hot to touch on your chest or back (you do not need to measure your temperature). It is a common sign and also may appear in 2-10 days if you affected.</span></h6>
                    
                    </div>
            
                </div>
                <div class="col-md-4 childTwoTwo bg-white mt-5 shadow px-3">
                    <div class="px-2">
                        <div class="d-flex align-items-center justify-content-between ">
                            <span>Cough</span>
                            <img class="img-fluid rounded-circle translate-middle-y " src="../../assets/images/symptom-b.png" alt="">
                        </div>
                        <div class="line"></div>
                        <h6>Continuous cough – <span>this means coughing a lot for more than an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than usual).</span></h6>
                    
                    </div>
            
                </div>
                <div class="col-md-4 childTwoTwo bg-white mt-5 shadow">
                    <div class="px-3">
                        <div class="d-flex align-items-center justify-content-between ">
                            <span>Shortness of breath</span>
                            <img class="img-fluid rounded-circle translate-middle-y " src="../../assets/images/symptom-c.png" alt="">
                        </div>
                        <div class="line"></div>
                        <h6 class="pb-3">Difficulty breathing –<span>Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness of breath.</span></h6>
                    
                    </div>
            
                </div>
                <div class="col-md-8 d-flex my-5 imp">
                    <i class="fa-solid fa-triangle-exclamation fa-3x me-3"></i>
                    <h6>Stay at home and call your doctor: <span>If you think you have been exposed to COVID-19 and develop a fever and any symptoms, such as cough or difficulty breathing, call your healthcare provider as soon as possible for medical advice.</span></h6>
                </div>
                <div class="col-md-4 my-5">
                    <h6 class="btn btn-primary mb-5 rounded-pill text-center mb-0 py-2"><i class="fa-solid fa-circle-question me-2"></i> Have question? Find answer.</h6>
                </div>
            </div>
        
        </div>
    </div>
</section>