<section class="prevention ms-auto">
    <div class="preventionsectionTwo  py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center childOneTwo pb-4">
                    <h6>HOW TO PROTECT YOURSELF?</h6>
                    <h4>PREVENTION & ADVICE</h4>
                    <p class="w-75 mx-auto">There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19). <span>The best way to prevent illness is to avoid being exposed to this virus.</span> Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority.</p>
            
                </div>
                <div class="col-md-3 childTwoTwo bg-white mt-3  text-center">
                    <img class="img-fluid rounded-circle mb-4" src="../../assets/images/advice-a.png" alt="">
                    <h6 class="">Wash your hands frequently</h6>
                    <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            
                </div>
                <div class="col-md-3 childTwoTwo bg-white mt-3  text-center">
                    <img class="img-fluid rounded-circle mb-4" src="../../assets/images/advice-b.png" alt="">
                    <h6 class="">Wash your hands frequently</h6>
                    <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            
                </div>
                <div class="col-md-3 childTwoTwo bg-white mt-3  text-center">
                    <img class="img-fluid rounded-circle mb-4" src="../../assets/images/advice-c.png" alt="">
                    <h6 class="">Wash your hands frequently</h6>
                    <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            
                </div>
                <div class="col-md-3 childTwoTwo bg-white mt-3  text-center">
                    <img class="img-fluid rounded-circle mb-4" src="../../assets/images/advice-d.png" alt="">
                    <h6 class="">Wash your hands frequently</h6>
                    <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>
            
                </div>
                <div class="col-md-6 mx-auto questionaire my-4">
                    <p class="btn btn-primary py-2 px-3 rounded-pill text-white mb-0">Check how you wash hand <i class=" fa fa-arrow-right"></i></p>
                    <span class="ms-5">Q&A on Coronavirus  <i class=" fa fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="preventionsectionOne mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 p-2 bg-white my-5">
                    <h4 class="mb-3">Take steps to protect others</h4>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Stay home if you’re sick – <span>Stay home if you are sick, except to get medical care.</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Cover your mouth and nose – <span>with a tissue when you cough or sneeze (throw used tissues in the trash) or use the inside of your elbow.</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Wear a facemask if you are sick – <span>You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Clean AND disinfect frequently touched surfaces daily – <span>This includes phones, tables, light switches, doorknobs, countertops, handles, desks, toilets, faucets, and sinks.</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Clean the dirty surfaces – <span>Use detergent or soap and water prior to disinfection.</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Stay informed about the local COVID-19 situation – <span>Get up-to-date information about local COVID-19 activity from public health officials.</span></h6>
                    <h6 class="my-4"><i class="fa-solid fa-circle-check"></i> Dedicated, lined trash can – <span>If possible, dedicate a lined trash can for the ill person. Use gloves when removing garbage bags, and handling & disposing of trash.</span></h6>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid py-3" src="../../assets/images/steps.png" alt="">
                </div>
                <h4 class="mt-5 text-center">Follow steps to wash hands</h4>
                <p class="mb-0 text-center my-3">Why do i need to wash my hand <i class="fa fa-arrow-right "></i></p>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-a.png" alt="">
                    <h6 class="my-2 ">Soap on Hand</h6>
                </div>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-b.png" alt="">
                    <h6 class="my-2 ">Palm to Palm</h6>
                </div>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-c.png" alt="">
                    <h6 class="my-2 ">Between Fingers</h6>
                </div>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-d.png" alt="">
                    <h6 class="my-2 ">Back to Hands</h6>
                </div>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-e.png" alt="">
                    <h6 class="my-2 ">Clean with Water</h6>
                </div>
                <div class="col-md-2 text-center my-3">
                    <img class="img-fluid rounded-circle" src="../../assets/images/hand-f.png" alt="">
                    <h6 class="my-2 ">Focus on Wrist</h6>
                </div>
        
            </div>
        </div>
    </div>
</section>