/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Montserrat:ital,wght@0,500;0,700;1,300&family=Poppins:wght@700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./assets/images/shape-a.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}